@import url(https://unpkg.com/ress/dist/ress.min.css);

:root{
    background-color: #f5f5f5;
}
body{
    display: flex;
    justify-content: center;    /* コンテンツ全体を中央揃え */
}
.container{
    width: 100%;
    max-width: 600px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
}
h1{
    text-align: center;
}
.task{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(231, 231, 231);
    border-radius: 6px;
}
.taskName{
    padding-left: 8px;
}
.completeButton{
    background-color: aquamarine;
    border: black;
    margin-right: 6px;
}